* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, 
body, 
#root {
  background-color: #efefef;
  height: 100%;
}
select {
  background-color:#fff !important;
  overflow: visible !important;
  color: #7b7b7b;
}